.Chat {
    position: relative;
    display: grid;
    grid-template-columns: 25% auto;
    gap: 1rem;
}

.leftSide {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.chats {
    display: flex;
    flex-direction: column;
    background-color: var(--cardColor);
    gap: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    height: auto;
    min-height: 82vh;
    overflow-y: scroll;   
}