.ShareModal{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 4rem;
    align-items: center;
}

.shareModalContainer {
    background-color: var(--cardColor);
    width: 40rem;
    border-radius: 10px;
    height: auto;
    margin: 1rem auto;
}